
body {
    background-image: url(../img/background.jpeg);
}

body::first-child(arrt=div) {
    background-color: rgba( 0, 0, 0, .4 );
}

/* nav bar */

.header {
    background-color: black;
}

.main-link {
    font-size: 2em;
}

.title {
    text-align: center;
}

.navbar-nav li{
    padding-left: .75rem;
    padding-right: .75rem;
}

/* Page content Styling */


.intro p {
    margin-top: 2em;
    margin-bottom: 2em;
    color: #ffe81f;
}

.outsources {
    color: #ffe81f;
    border-style: dashed;
    border-color: #ffe81f;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
    min-width: 420px;
    max-width: 420px;
}

.primary-content {
    color: #ffe81f;
    margin-bottom: 2em;
}

.disclaimer {
    margin-left: 5%;
    margin-right: 5%;
}

.text {
    color: #ffe81f;   
}

.settingHead {
    text-align: center;
}

.galaxy {
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    width: 80%;
    height: auto;
}

/* styling for button */

.buttonTime {
    margin-left: 42%;
    margin-right: 50%;
}

#statList {
    padding-left: .25rem;
    margin-left: 50%;
    margin-right: 50%;
    color: #ffe81f;
}


/* footer styles */

.mainFooter {
    background-color: #ffe81f;
    margin-top: 2.5em;
    margin-bottom: 0;
    height: 75px;
    width: 100%;
}

.mainfooter p {
    color: black;
    margin-bottom: 0;
}

/* Media Queries */

@media (min-width: 992px) {
    .outsources {
        min-width: 0px;
        margin-bottom: 3em;
    }

    .intro {
        margin-top: auto;
        margin-bottom: auto;
    }

}

@media (max-width: 400px){
    .main-link {
        font-size: 1.5em;
    }

    .navbar {
        width: 100%;
        margin-right: 0px;
    }
}
